extends layout

block content
  .container
    .row(style="height: 500px")
      .col
        form(action="/" method="GET" id="mapForm")
          .form-group
            lablel(for="orig-text-input") From
            input.form-control(type="text" id="orig" name="orig" value=orig)
            //- input(type="hidden" id="orig-id" name="orig" value=orig)

          .form-group
            label(for="dest-text-input") To
            input.form-control(type="text" id="dest" name="dest" value=dest)
            //- input(type="hidden" id="dest-id" name="dest" value=dest)

          .form-group
            label(for="via") Via
            input.form-control(type="text" id="via" name="via" value=via)
            input(type="hidden" id="waypoint" name="waypoint" value=waypoint)

          button.btn.btn-primary(type="button" id="findRoutesBtn") Find routes


      .col(style="background: teal")
        #map(style="height:100%; width: 100%")

  //- script.
  //-   const direction = '!{JSON.stringify(direction)}'