extends layout

block content
  input(type="hidden" id="origInput" value="")
  input(type="hidden" id="destInput" value="")
  input(type="hidden" id="stopoverInput" value="")
  .container-fluid.m-3
    .row
      .col
        div(style="height: 800px").card.overflow-auto
          .list-group
            each route in savedRoutes
              div(id=route.id onclick=`showRoute('${route.id}')`).list-group-item.list-group-item-action.d-flex.flex-row.justify-content-between
                div
                  div Start: #{route.origAddress}
                  if route.waypointAddress
                    div Stopover: #{route.waypointAddress}
                  div End: #{route.destAddress}
                div
                  button.btn(id=`${route.id}-heart` onclick=`deleteRoute('${route.id}')`)
                    i.fas.fa-heart.fa-lg#heart-unsave


      .col-8
        #map-canvas
          #map

block scripts
  //- Google maps
  script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_KEY}&libraries=places`)
  script(src='/dist/Fav.bundle.js')
  script.
    const savedRoutes = JSON.parse('!{JSON.stringify(savedRoutes)}');
