extends layout

block content
  .container-fluid
    .card.my-3#selected-route-card
      .card-body#selected-route
        .row
          .col.d-flex.align-items-center
            .row.justify-content-around.flex-fill#route-info
          .col-2.d-flex.flex-wrap.align-items-center.justify-content-around#route-share
            input(type="hidden" id="saved-route-id" value="")
            button.btn.heart-btn#heart-save-btn(type="button" onclick="saveRoute()")
              i.far.fa-heart.fa-lg#heart-save
            button.btn.heart-btn#heart-unsave-btn(type="button" onclick="deleteRoute()")
              i.fas.fa-heart.fa-lg#heart-unsave
            //- Reference
            //- Twitter, "Twitter Publish", Publish.twitter.com, 2020. [Online].
            //- Available: https://publish.twitter.com/?buttonType=TweetButton&widget=Button.
            if(orig && dest)
              div.d-flex.align-items-center
                a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text=shareMessage data-url=fullUrl data-hashtags="tripinterest" data-size="large") Tweet
              .fb-share-button(data-href=fullUrl data-layout="button" data-size="large")
                a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse") Share

    .row(style="height: 800px")
      .col
        form(action="/" method="GET" id="mapForm")
          .form-group
            lablel(for="orig-text-input") Start
            input.form-control(type="text" id="orig-input" value=origAddress)
            input(type="hidden" id="orig" name="orig" value=orig)

          .form-group
            label(for="dest-text-input") End
            input.form-control(type="text" id="dest-input" value=destAddress)
            input(type="hidden" id="dest" name="dest" value=dest)

          .form-group
            label(for="via") Stopover
            input.form-control(type="text" id="via" name="via" value=via)
            input(type="hidden" id="waypoint" name="waypoint" value=waypoint)
            input(type="hidden" id="waypointAddress" value=waypointAddress)

          button.btn.btn-primary(type="button" id="findRoutesBtn" onclick="findRoutes()") Find routes

      .col-8
        #map-canvas
          #map

block scripts
  //- Reference:
  //- Google, "Overview  |  Maps JavaScript API  |  Google Developers", Google Developers, 2020. [Online].
  //- Available: https://developers.google.com/maps/documentation/javascript/tutorial.
  script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_KEY}&libraries=places`)
  script(src='/dist/App.bundle.js')
  //- Facebook Sharing
  script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0")
  //- Reference
  //- Twitter, "Twitter Publish", Publish.twitter.com, 2020. [Online].
  //- Available: https://publish.twitter.com/?buttonType=TweetButton&widget=Button.
  script(async src="https://platform.twitter.com/widgets.js" charset="utf-8" crossorigin="anonymous")
  script(src='/dist/App.bundle.js')
